* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
  color: rgb(191, 182, 182);
}

body {
  background: linear-gradient(#000000, #070505);
  height: 150vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 100px;
  padding: 10px;
  justify-content: space-between;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  margin: 25px;
  color: white;
  text-decoration: none;
}

h1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: papyrus;
}

.brandName {
  font-family: copperplate;
}

.ourMission {
  font-size: 1.2em;
}

h3 {
  color: aliceblue;
}

img {
  height: 190px;
  width: 180px;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.singleShoe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.homePage {
  margin: 15px;
}

.firstP {
  margin-right: 15px;
  float: left;
}

.secondP {
  margin-left: 15px;
  float: right;
}

.shoeLayout {
  display: flex;
  justify-content: center;
}

.buyShoes {
  display: flex;
  justify-content: end;
}

.secondDiv {
  margin-top: 60px;
}

.logoutButtonDiv {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.logoutButton {
  border-radius: 6px;
  background-color: darkviolet;
  font-size: 20px;
}

.cartButton {
  border-radius: 6px;
  background-color: darkviolet;
}

.labels {
  display: flex;
  justify-content: center;
}

.loginForm {
  display: flex;
  justify-content: center;
}

.active {
  color: darkviolet;
}

footer {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 100px;
  padding: 10px;
  bottom: 0;
}

section {
  border: 4px solid red;
  justify-content: center;
  background-color: darkviolet;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  margin: 15px;
}

input {
  border: solid black;
  font-size: 20px;
  color: black;
  margin: 5px;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.cartList {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 80vw;
}



.shoeInCart {
  display: flex;
  background-color: darkviolet;
  margin-top: 10px;
  width: 75vw;
  justify-content: space-between;
}

.cartLiLeft {
  display: flex;
}

.cartImg {
  height: 100px;
  width: 100px;
  margin: 20px;
  border-radius: 8px;
  border: rgb(113, 6, 158);
}

.cartLiRight {
  margin: 20px;
}

.cartCheckout {
  display: flex;
  justify-content: space-evenly;
  background-color: darkviolet;
  color: #c0c0c0;
  width: 25vw;
  left: 9in;
}

#order {
  color: #000000;
  height: 30px;
  width: 70px;
  margin: 20px;
}