
* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
  color: rgb(191, 182, 182);
}

body {
  background: linear-gradient(#000000, #070505);
  height: 150vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 100px;
  padding: 10px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  margin: 25px;
  color: white
}

h1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h3 {
  color: aliceblue;
}

img {
  height: 190px;
  width: 180px;
  margin-left: 3px;
}

ul {
  list-style: none;
}

.active {
  color: darkviolet;
}
footer {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 100px;
  padding: 10px;
  bottom: 0;
}
section {
  border: 4px solid red;
  height: 60vh;
  width:60vh;
  margin-left: 100px;
  justify-content: center;
  background-color: darkviolet;
  color:black;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
 color: black;
}
input { 
  border: solid black;
  font-size: 20px;
  color: black;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.cartList {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 80vw;
}



.shoeInCart {
  display: flex;
  background-color: darkviolet;
  margin-top: 10px;
  width: 75vw;
  justify-content: space-between;
}

.cartLiLeft {
  display: flex;
}

.cartImg {
  height: 100px;
  width: 100px;
  margin: 20px;
  border-radius: 8px;
  border: rgb(113, 6, 158);
}

.cartLiRight {
  margin: 20px;
}

.cartCheckout {
  display: flex;
  justify-content: space-evenly;
  background-color: darkviolet;
  color: #c0c0c0;
  width: 25vw;
  left: 9in;
}

#order {
  color: #000000;
  height: 30px;
  width: 70px;
  margin: 20px;
}
